.btn-comprar {
  background-color: #4caf50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 1rem;
}
.btn-comprar:hover {
  background-color: #388e3c;
}
